# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [4]:
import pandas as pd 
df = pd.read_csv('/Users/kate/Desktop/data/supermarket_sales.csv')

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [11]:
df.sort_values(by='Unit price', ascending=False).head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів Electronic accessories, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [23]:

electronic_accessories_df = df[df['Product line'] == 'Electronic accessories']

max_quantity = electronic_accessories_df['Quantity'].max()

max_price_row = electronic_accessories_df[electronic_accessories_df['Quantity'] == max_quantity]
max_price = max_price_row['Unit price'].max()

final_row = electronic_accessories_df[(electronic_accessories_df['Quantity'] == max_quantity) & (electronic_accessories_df['Unit price'] == max_price)]

print(final_row)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
105,704-48-3927,A,Yangon,Member,Male,Electronic accessories,88.67,10,44.335,931.035,1/12/2019,14:50,Ewallet,886.7,4.761905,44.335,7.3

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу: високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [31]:
def rating_category(val):
    if val >= 8:
        return 'Hight'
    elif 6 <= val < 8 :
        return 'Medium'
    else:
        return 'Low'
    
df['Rating Category'] = df.Rating.apply(rating_category)

print(df[['Rating', 'Rating Category']].head())

   Rating Rating Category
0     9.1           Hight
1     9.6           Hight
2     7.4          Medium
3     8.4           Hight
4     5.3             Low

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [33]:
df['Rating Category'].value_counts(normalize=True) * 100

Rating Category
Medium    35.6
Hight     32.9
Low       31.5
Name: proportion, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [34]:
time = '11:28'

In [39]:
def get_hour(time):
    hour_str = time.split(':')[0]
    return int(hour_str)

hour = get_hour(time)
print(hour)

11

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [43]:
df['Hour'] = df['Time'].apply(get_hour)
print(df.head(3))

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total      Date  \
0       Health and beauty       74.69         7  26.1415  548.9715  1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200  3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255  3/3/2019

    Time      Payment    cogs  gross margin percentage  gross income  Rating  \
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4

  Rating Category  Hour
0           Hight    13
1           Hight    10
2          Medium    13

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [49]:
hour_counts =df['Hour'].value_counts().sort_index()
print(hour_counts.head(10))


# найбільша кількість покупок припадає на робочу перерву в день та на кінець робочого дня

Hour
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
Name: count, dtype: int64

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [51]:
average_total_by_city = df.groupby('City')['Total'].mean()
print(average_total_by_city)

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [52]:
summary_stats_by_city = df.groupby('City')['Total'].agg(['count', 'mean','min', 'max'])
print(summary_stats_by_city)


# більшою є кількість покупок в Yangon - напевно воно більш популярне чи має більший ринок збуту - можна збільшити кількість товарів чи додати акції 
# Середнє занчення чеку найвище у Naypyitaw - може мати вищу ціну товарів чи більш заможних клієнтів - можна впроваджувати преміум продукті 
# великі розбіжності можуть вказувати на широкий асортимент - можливо треба оптимізувати ціни

           count        mean      min      max
City
Mandalay     332  319.872506  18.6375  1022.49
Naypyitaw    328  337.099715  10.6785  1042.65
Yangon       340  312.354031  12.6945  1039.29

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [53]:
df.to_csv('supermarket_sales_enriched.csv', index=False)